body {
    background: url('../img/fon3.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#up-header {
    text-align: center;
}

#up-header ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 10px;
}
.about-me {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
